.form {
    width: 900px;
    margin: 40px;
}

.sub-head {
    margin-bottom: 0;
}

sup {
    color: red
}

.input {
    display: flex;

    >.bar {
        margin-right: 10px;

        >p {
            margin: initial;
        }
    }
}

.email {
    >input {
        width: 340px;
    }
}

a:hover {
    color: red
}

tr,
td,
th {
    >.work {
        text-align: initial;
    }

    text-align: center;
    padding:10px;
}

tr,
td {
    width: 130px;
}

.button {
    margin-top: 10px;
}

.mark tr:nth-child(even) {
    background-color: rgb(208, 205, 205);
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .form {background: red;}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .form {background: green;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .form {background: blue;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .form {background: white;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .form {background: white;}
  }