body{
    margin:0;
    padding:0;
    background-color: rgb(255, 254, 167);    
}
#test{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10%;
    color:rgb(133, 0, 145) ;
    text-align: center;
    stroke: rgb(0, 0, 0);
    text-transform: capitalize;
    font-size: 500%;
    font-weight: 500;
}